@media screen and (max-width: 576px){
    nav .btn , nav li{
        display: none;
    }
    .btnbar {
        display: block !important;
        color: white;
        background-color: transparent;
        border: none;
    }
    .b-container{
        margin-bottom: 40px;
    }
    .about{
        padding: 40px 20px;
    }
    .about > p{
    padding: 0 30px;
    }

    .a-card{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 40px;
    }
    .choose{
        padding: 0 20px;
        align-items: center;
    }
    .ch-card{
    display: grid;
    grid-template-columns: repeat(1,400px);
    grid-template-rows: repeat(7,1fr);
    gap: 16px;
    }
    .ch-card :nth-child(1) , .ch-card :nth-child(4) {
        grid-row: span 2;
    }
    .ch-card .card{
        padding: 24px;
        width: 400px;
        gap: 16px;
    }
    .ch-card .card p{
        margin-bottom: 0;
    }
    
}
@media screen and (min-width: 577px) and (max-width: 1500px)
{
    .about{
        max-width: 100%;
        padding: 20px 8px;
        flex-wrap: wrap;
    }
    .about > p{
        padding: 0 70px;
    }
     .a-card{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 70px;
    }
    .choose{
        padding: 0 50px;
        align-items: center;
    }
    .ch-card{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(5,1fr);
    gap: 16px;
    }
    .ch-card .card{
        padding: 24px;
        gap: 16px;
    }
    .ch-card .card p{
        margin-bottom: 0;
    }
}