@media screen and (max-width: 576px){
    /* header part  */

    /* nav part  */

    nav .btn , nav li{
        display: none;
    }
    .btnbar {
        display: block !important;
        color: white;
        background-color: transparent;
        border: none;
        font-size: 18px;
    }
    .btnbar:hover{
        cursor: pointer;
    }

    /* main part  */

    /* banner part */

    .b-container{
        margin-bottom: 40px;
    }
    .b-content p{
        max-width: 400px;
    }

    /* about part  */

    .about{
        padding: 40px 20px;
    }
    .about > p{
    padding: 0 30px;
    }

    .a-card{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 40px;
    }

    /* choose part  */

    .choose , .features-host{
        padding: 0 20px;
        align-items: center;
    }
    .ch-card{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12,1fr);
    gap: 16px;
    
    overflow-y: hidden;
    }
    .ch-card :nth-child(1) , .ch-card :nth-child(4) {
        grid-row: span 3;
    }
    .ch-card :nth-child(2) , .ch-card :nth-child(3) , .ch-card :nth-child(5) {
        grid-row: span 2;
    }
    .ch-card .card{
        padding: 24px;
        max-width: 100%;
        gap: 16px;
    }
    .ch-card .card p{
        margin-bottom: 0;
    }

    /* features part  */

    .f-card{
        flex-direction: column;
        
    }
    .f-card .card{
        /* height: 550px; */
        max-width: 95%;
    }
    .features , .host{
    gap: 15px;
    }

    /* host part  */

    .h-container{
        flex-direction: column;
        text-align: center;
    }

    /* footer part  */

   .f-social{
    display: grid;
    grid-template-columns: repeat(2,1fr);
   }
    
}
@media screen and (min-width: 577px) and (max-width: 1200px)
{
    /* about part  */

    .about{
        max-width: 100%;
        padding: 20px 8px;
        flex-wrap: wrap;
    }
    .about > p{
        padding: 0 70px;
    }
     .a-card{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 70px;
    }

    /* choose part  */

    .choose , .features-host{
        padding: 0 50px;
        align-items: center;
    }
    .ch-card{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 16px;
    }
    .ch-card :nth-child(1){
        grid-row: span 1;
        grid-column: span 1;
    }
    .ch-card :nth-child(2){
        grid-column: 2;
        grid-row: span 1;
    }
    .ch-card :nth-child(3) {
        grid-column: span 2;
    }
    .ch-card :nth-child(5) , .ch-card :nth-child(4){
        grid-column: span 1;
    }
    .ch-card .card{
        padding: 24px;
        gap: 16px;
        max-width: 100%;
    }
    .ch-card .card p{
        margin-bottom: 0;
    }

    /* features part  */

    .f-card{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding: 10px;
        max-width: 95%;
        /* gap: 10px; */
    }
     .f-card .card{
        /* height: 520px; */
        max-width: 100%;

    }
}