/* Global */
body{
    margin: 0 auto;
    max-width: 100%;
}
/* shared  */
nav h1, .footer-container .footer-content h1{
    color: #ffffff;

}
.h1txt{
    background: linear-gradient(to right top, #F7E93F 0%, #FB09B4 51% ,#9100F8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner , .footer-container{
    max-height: 760px;
    min-height: 440px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
    align-items: center;
    justify-content: center;
    display: flex; 
    text-align: center;
}
.btn{
   color: #ffffff;
   background: linear-gradient(to right top, #F7E93F 0%, #FB09B4 51% ,#9100F8 100%);
   padding: 20px 12px;
   border-radius: 10000px;
   text-align: center;
   gap: 5px;
}
.btn:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.h2-text{
    font-weight: 800px;
    font-size: 48px;
    color: #ffffff;
    text-align: center;
}
.h3-text{
    color: #ffffff;
    font-weight: 700px;
    font-size: 24px;
}
.choose , .features-host{
    background-color: #230E3D;
    padding: 120px 200px;
    display: flex;
    flex-direction: column;
}
 .f-card .card:hover , .h-content .h-social:hover , .h-container img:hover{
    transform: scale(1.1);
}
/* header part  */

/* nav part  */

nav{
    background-color: #1A0B2E;
    display: flex;
    justify-content: space-around;
    padding: 24px 0;
    align-items: center;
}
nav ul{
    display: flex;
    gap: 32px;
}
nav ul li{
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    color: #ffffff;
}
nav .btnbar{
    display: none;
}

/* main  */

/* banner part  */

.banner{
     background-image: url(../assets/hero-bg.png);
}

.b-container{
    max-width: 550px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 101px;
}
.b-img{
    position: relative;
}
.b-img .cir{
    max-width: 350px;
    min-width: 200px;
}
@keyframes mic-anime {
     0% { 
          transform: translate(-50%, -50%) translateY(0); 
        }
  50%   { 
          transform: translate(-50%, -50%) translateY(-30px);
        }
  100%  { 
          transform: translate(-50%, -50%) translateY(0); 
        }
}
.b-img .mic{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    animation: mic-anime ease-in-out 1s infinite alternate;
}
.new{
    background-color: #00FF88;
    position: absolute;
    left: 50%;
    transform: translateX(100%);
    padding: 16px 8px;
    border-radius: 1000px;
    color: #1A0B2E;
    box-shadow: 0 0 30px rgb(0, 255, 136);
}
.b-content h1{
    color: #ffffff;
    font-weight: 800px; 
    font-size: 60px;
}
.b-content p{
   color: #ffffffce; 
   font-size: 16px;
}
.b-btn{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.btn-trans{
    color: #00FF88;
    border: #00FF88 solid 1px;
    border-radius: 10000px;
    padding: 20px 12px;
    text-align: center;
}
.btn-trans:hover{
    cursor: pointer;
    background-color: rgb(122, 152, 111);
    transform: scale(1.1);
}

/* about part */

.about{
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 200px;
    color: #ffffff;
    background-color: #1A0B2E;
}
.about p{
    font-size: 20px;
    line-height: 20px;
    color: #ffffffce;
}
.about > p{
    padding: 0 300px;
}
.a-card{
    display: flex;
    justify-content: space-between;
    gap: 80px;
}
.a-card .card h1{
   color: #00FF88;
   font-size: 48px;
   font-weight: 900px;  
   text-align: center; 
}
.a-card .card h1 i{
    font-weight: 500px;
    font-size: 35px;
}
.a-card .card p{
    line-height: 20px;
    font-size: 16px;
    color: #ffffffce;
}

/* choose part  */

.ch-card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 225px 225px 273px;
    gap: 30px;
}
.ch-card .card{
    padding: 40px 40px 0 40px;
    display: flex;
    flex-direction: column;
    background-color: #351165;
    border-radius: 24px;margin-bottom: 30px;
}
.ch-card .card img{
    max-width: 40px;
}
.ch-card .card h3{
    color: #ffffff;
    font-weight: 700px;
    font-size: 24px;
    white-space: nowrap;
}
.ch-card .card p{
    color: #ffffffce;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 40px;
}
.ch-card :nth-child(1){
    grid-row: span 2;
    grid-column: span 1;
}
.ch-card :nth-child(2) , .ch-card :nth-child(3) , .ch-card :nth-child(4){
    grid-column: span 2;
    grid-row: span 1;
}

/* features+host part  */

.features-host{
    gap: 40px;
}
/* features */

.features , .host{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.f-card{
    display: flex;
    gap: 30px;
    max-width: 1200px;
    align-items: center;
    padding: 40px;
}
.f-card .card{
   max-width: 380px;
   height: 440px;
   display: flex;
    flex-direction: column;
    border-radius: 20px;
}
.f-card .card iframe{
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}
.youtube{
    position: relative;
}
.playbtn{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  background: linear-gradient(to right top, #F7E93F 0%, #FB09B4 51% ,#9100F8 100%);
  border-radius: 50%;
  border: none;
}
.playbtn:hover{
    cursor: pointer;
    box-shadow: 0 0 40px rgba(247, 245, 248, 0.868);
}
.playbtn i{
    font-weight: 700px;
    font-size: 40px;
    color: #ffffffce;
}
.f-card .card .card-content{
    padding: 24px;
    background-color: #340375bf;
}
.f-card .card .card-content p{
    color: #ffffffce;
    line-height: 24px;
    font-size: 16px;
    
}
.f-card .card .card-content span{
    color: #00FF88;
    line-height: 24px;
    font-size: 16px;
    font-weight: 600px;
}

/* host  */

.h-container{
    display: flex;
    gap: 24px;
    align-items: center;
    padding: 40px;
    background-color: #351165;
    border-radius: 20px;
    max-width: 1200px;

}
.h-container > img{
    box-shadow: 0 0 20px whitesmoke;
    border-radius: 100%;
}
.h-content p{
    font-size: 16px;
    line-height: 24px;
    color: #ffffffce;
}
.h-content .h-social{
    gap: 10px;

}
.h-content .h-social img{
    border: 1px solid #533C72;
    border-radius: 100%;
    padding:7px;
}

/* footer part  */

.footer-container{
    background-image: url(../assets/footer-bg.png);
}
.footer-content{
    max-width: 544px;
    display: flex;
    flex-direction: column;
    
}
.footer-content h1{
     font-weight: bolder;
     font-size: 60px;
}
.f-social{
    display: flex;
    gap: 40px;
    text-align: center;
}
.social{
    color: #ffffffce;
}
.copywrite{
    line-height: 24px;
    color: #ffffffce;
    font-size: 16px;
}


